<form role="form" action="/auth/local" method="get">
 <input type="text" name="identifier" placeholder="Username or Email">
 <input type="password" name="password" placeholder="Password">
 <button type="submit">Sign in</button>
</form>
{{#each providers}}
 <a href="/auth/{{slug}}" role="button">{{name}}</a>
{{/each}}
Errors:{{errors}}
