<form role="form" action="/auth/local/register" method="post">
 <input type="text" name="username" placeholder="Username">
 <input type="text" name="email" placeholder="Email">
 <input type="password" name="password" placeholder="Password">
 <button type="submit">Sign up</button>
</form>
{{errors}}
